<script src="../template/plugins/ajaxfileupload/ajaxfileupload.js"></script>
<style>
    .myrow {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        padding-left: 20px;
    }
    div>span {
        margin-top: 10px;
    }
      #uploadModal input{
        margin: 10px;
    }
    #uploadModal label{
        margin-top: 15px;
    }
    #downloadCon{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        float: left;
        margin-left: -1px;
    }

</style>
<!--文献数据库功能模块-->
<h2 class="sub-header">文献数据库</h2>
<div id="docToolbar" class="btn-group table-control">
    <button type="button" class="btn btn-default" id="addDoc" title="添加">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-default" id="editDoc" title="编辑">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" id="deleteDoc" title="删除">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
    <button type="button" class="btn btn-default" id="uploadCon" title="上传数据" data-toggle="modal" data-target="#uploadModal">
        <i class="glyphicon glyphicon-open"></i>
    </button>
    <a style="color: #333" href="/download/">
        <button type="button" class="btn btn-default" id="downloadCon" title="下载模板">
            <i class="glyphicon glyphicon-save"></i>
        </button>
    </a>
</div>

<!--table field-->
<div id="table">
    <div class="search" style="float:right;margin-top: 10px;margin-left: 5px">
        <input class="form-control" type="text" id="search" onkeyup="searchEvent()" placeholder="搜索">
    </div>
    <table class="table-control" id="docTable" data-show-refresh="true" data-toolbar="#docToolbar" data-pagination="true" data-show-columns="true">
    </table>
</div>

<!--hide edit and add panel-->
<div class="row" style="display: none;" id="docPanel">
    <div class="col-md-12 ">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title" id="changePanelName">添加文献数据</h4>
            </div>
            <form id="docForm" method="post">
                <div id="validateForm">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3" id="adddiv">
                                <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>文献名</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id='docName' name="literaturename" type="text" class="form-control"
                                               required>
                                    </div>
                                </div>
                                <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>作者</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id='docAuthor' name="authorname" type="text" class="form-control"
                                               required>
                                    </div>
                                </div>
                                <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>链接</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id='docLink' name="interlink" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row myrow" id="btn-attr">
                                    <div class="col-md-9 col-md-offset-2">
                                        <button id='addAtt' class="btn btn-default">添加新属性</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--row-->
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-offset-10">
                                <button class="btn btn-default" id="cancel">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                                <button type="submit" class="btn btn-success" id="create">&nbsp;&nbsp;创建&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--col-md-10-->
</div> <!--row-->


<!--上传的模态框-->
<div class="modal fade" id="uploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">上传数据</h4>
      </div>
      <div class="modal-body">
        <div class="row myrow">
            <div class="col-md-2">
                <label>请选择</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="upfile" class="form-control" readonly="readonly">
                <input type="button" value="浏览" onclick="file1.click()" class="btn btn-default">
                <input type="file" id="file1" name="file" accept="application/xls,application/cvs" class="hide" onchange="upfile.value=this.value.substring(12)"/>
                <input type="button" onclick="Uploadfile()" class="btn btn-default" value="上传"/>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--itself js-->
<script src="../template/modules/document/docDatabase.js"></script>