<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" type="text/css" href="../template/styles/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../template/styles/css/account.css"/>

    <script src="../template/plugins/jquery/jquery-2.1.4.min.js"></script>

    <script src="../template/modules/login/fixPassword.js"></script>

</head>
<body>
<div>
    <div class="login">
        <span>修改密码</span>

        <div>
            <div class="form-group">
                <input id="originPass" spellcheck=false class="form-control" type="text" size="18" placeholder="原密码">
                <label class="hide"><i class="glyphicon glyphicon-exclamation-sign"></i>请输入原密码!</label>
            </div>
            <div class="form-group">
                <input id="pass" spellcheck=false class="form-control" type="password" size="18" placeholder="新密码">
                <label class="hide"><i class="glyphicon glyphicon-exclamation-sign"></i>请输入新密码!</label>
            </div>
            <div class="form-group">
                <input id="passConfirm" spellcheck=false class="form-control" type="password" size="18"
                       placeholder="确认新密码">
                <label class="hide"><i class="glyphicon glyphicon-exclamation-sign"></i>请确认新密码!</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" id="change">确定</button>
                <button type="submit" class="btn btn-lg btn-default btn-block" id="cancelChange">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>