
<style>
    li a{
        cursor: pointer;
    }
     .myrow {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        padding-left: 10px;
    }
    div>span {
        margin-top: 10px;
    }

</style>
<script src="../template/modules/network-pharmacology/drug-drug.js"></script>

<h2 class="sub-header">网络药理学数据库</h2>

<!--下拉框选择-->
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        请选择数据库
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li onclick="turnPage('../template/modules/network-pharmacology/network-pharmacology.html')"><a>基因基本信息数据库</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/drug.html')"><a>药物基本信息数据库</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/path.html')"><a>通路基本信息数据库</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/disease.html')"><a>疾病基本信息数据库</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/drug-drug.html')"><a>药物-药物相互作用</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/disease-gene.html')"><a>疾病-基因关联</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/drug-gene.html')"><a>药物-基因关联</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/drugGroup.html')"><a>药物组合</a></li>
        <li onclick="turnPage('../template/modules/network-pharmacology/gene-gene.html')"><a>基因-基因关联</a></li>
    </ul>
</div>

<div id="docToolbar" class="btn-group table-control">
    <button type="button" class="btn btn-default" id="addDoc" title="添加">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-default" id="editDoc" title="编辑">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" id="deleteDoc" title="删除">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>

<!--药物-药物相互作用表格-->
<div id="drug-drugTableOuter" style="margin-top: 30px">
    <h4 style="margin-bottom: 5px">药物相互作用数据库</h4>
    <div class="search" style="float:right;margin-top: 10px;margin-left: 5px">
        <input class="form-control" type="text" id="search" onkeyup="searchEvent()" placeholder="搜索">
    </div>
    <table class="table-control" id="drug-drugTable" data-show-refresh="true" data-toolbar="#docToolbar"
           data-pagination="true" data-show-columns="true">
    </table>
</div>

<!--hide edit and add panel-->
<div class="row" style="display: none;margin-top: 30px" id="docPanel">
    <div class="col-md-12 ">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title" id="changePanelName">添加信息</h4>
            </div>
            <form id="docForm" method="post">
                <div id="validateForm">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>药物A</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id='drugA' class="form-control"></select>
                                    </div>
                                </div>
                                 <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>药物B</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id='drugB' class="form-control"></select>
                                    </div>
                                </div>
                                 <div class="row myrow">
                                    <div class="col-md-2">
                                        <label>描述</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input id='description' type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--row-->
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-offset-10">
                                <button class="btn btn-default" id="cancel">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                                <button type="submit" class="btn btn-success" id="create">
                                    &nbsp;&nbsp;创建&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--col-md-10-->
</div>



































